---
members:
- name: Sophie Goldberg
  title: President
  major: Computer Science Major and Management Minor
  class: Senior
  link: https://www.linkedin.com/in/goldbergsophia
- name: Shm Almeda
  title: Vice President
  major: Computer Science Major and Fine Arts Minor
  class: Senior
  link: https://www.linkedin.com/in/sarah-almeda
- name: Maddie Febinger
  title: Treasurer
  major: Computer Science Major and Mathematics Minor
  class: Senior
  link: https://www.linkedin.com/in/madeline-febinger-940379152
- name: Thomas Orth
  title: Secretary
  major: Computer Science Major
  class: Junior
  link: https://thomasjorth.com
- name: Alyssa Popper
  title: Outreach Co-Chair 1
  major: Computer Science Major, Electrical Engineering Minor, and Interactive Multimedia Minor
  class: Sophomore
  link: https://www.linkedin.com/in/alyssa-popper-144699191
- name: Michael Mongelli
  title: Outreach Co-Chair 2
  major: Computer Science Major
  class: Junior
  link: https://www.linkedin.com/in/michael-mongelli-5b2878177
- name: Tomer Aberbach
  title: Webmaster
  major: Computer Science Major and Mathematics Minor
  class: Senior
  link: https://tomeraberba.ch
advisor:
  name: Dr. Andrea Salgian
  title: Assoc. Professor of Computer Science
  link: https://computerscience.tcnj.edu/faculty-staff/faculty/dr-andrea-salgian
---
<h1>About Us</h1>

<ul id="members-ul">
    {{#each members}}
        <li>
            <div><img src="img/people/{{lowercase (replace title ' ' '-')}}.png" alt="{{name}}"/></div>
            <a target="_blank" rel="noopener" href="{{link}}"><span>{{name}}</span></a>
            <span>{{title}}</span>
            <span>{{major}}</span>
            <span>{{class}}</span>
        </li>
    {{/each}}
    <li>
        <div><img src="img/people/advisor.png" alt="{{advisor.name}}"/></div>
        <a target="_blank" rel="noopener" href="{{advisor.link}}"><span>{{advisor.name}}</span></a>
        <span>Advisor</span>
        <span>{{advisor.title}}</span>
    </li>
</ul>
