---
members:
- name: Tom Orth
  title: President
  major: Computer Science Major
  class: Senior
  link: https://www.thomasjorth.com
- name: Gordon Petry
  title: Vice President
  major: Computer Science Major and Criminology Minor
  class: Senior
  link: https://www.linkedin.com/in/gordon-petry/
- name: Isabel Frade
  title: Treasurer
  major: Computer Science Major and Computational Biology Minor
  class: Senior
  link: https://www.linkedin.com/in/isabel-frade-b03155172/
- name: Sterly Deracy
  title: Secretary
  major: Computer Science Major and Interactive Multimedia Minor
  class: Junior
  link: https://www.sderacy.com
- name: Kenneth Zepeda
  title: Outreach Co-Chair 1
  major: Computer Science Major
  class: Sophomore
  link: https://www.linkedin.com/in/kenneth-zepeda/
- name: Kevin Williams
  title: Outreach Co-Chair 2
  major: Computer Science Major
  class: Junior
  link: https://www.linkedin.com/in/willik39/
- name: Sterly Deracy
  title: Webmaster
  major: Computer Science Major and Interactive Multimedia Minor
  class: Junior
  link: https://www.sderacy.com
advisor:
  name: Dr. Andrea Salgian
  title: Assoc. Professor of Computer Science
  link: https://computerscience.tcnj.edu/faculty-staff/faculty/dr-andrea-salgian
---
<h1>About Us</h1>

<ul id="members-ul">
    {{#each members}}
        <li>
            <div><img src="img/people/{{lowercase (replace title ' ' '-')}}.png" alt="{{name}}"/></div>
            <a target="_blank" rel="noopener" href="{{link}}"><span>{{name}}</span></a>
            <span>{{title}}</span>
            <span>{{major}}</span>
            <span>{{class}}</span>
        </li>
    {{/each}}
    <li>
        <div><img src="img/people/advisor.png" alt="{{advisor.name}}"/></div>
        <a target="_blank" rel="noopener" href="{{advisor.link}}"><span>{{advisor.name}}</span></a>
        <span>Advisor</span>
        <span>{{advisor.title}}</span>
    </li>
</ul>
